@font-face {
    font-family: orbitron;
    src: url(Orbitron.ttf);
}
@media print {
    * {
        font-family: orbitron;
    }
    .header {
        visibility: hidden !important;
    }

    .noprint {
        visibility: hidden !important;
    }

    div {
        border: 0px !important;
        border-radius: 0px !important;
        margin: 0px !important;
        padding: 0px !important;
    }
    svg {
        border: 0px !important;
        margin: 0px !important;
    }
}

* {
    font-family: orbitron;
}
p {
    padding: 0px;
    margin: 5px;
}

@font-face {
    font-family: swfont;
    src: url(SWFont.ttf);
}

body {
    background: #e5e7ef;
}

div {
    border-color: #9b96ca;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    padding: 4px;
    margin: 4px;
}

p1 {
    font-family: swfont;
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    margin-top: 5px;
}
p2 {
    font-family: swfont;
    text-align: center;
    font-weight: normal;
    font-size: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
}

label {
    line-height: 25px;
}

button {
    background-color: #c2bee0;
    stop-color: #9b96ca;
    font-family: swfont;
    height: 50px;
    margin: 0px;
    margin-right: 5px;
    vertical-align: middle;
    float: left;
    border: 2px;
    border-top: 0px;
    border-bottom: 0px;
}

img {
    max-width: 100%;
}

svg {
    border: 2px;
    border-radius: 8px;
    border-color: #9b96ca;
    border-style: solid;
    margin: 10px;
}

input {
    border: 0px;
    border-radius: 2px;
    background-color: #fff;
}
select {
    border: 0px;
    border-radius: 2px;
    background-color: #fff;
}

input:focus-visible {
    outline: 2px solid #9b96ca;
    border-radius: 3px;
  }
td {
    padding-left: 4px;
    padding-right: 4px;
}

.header {
    height: 50px;
    background-color: #c0bfdf;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0px;
    padding: 0px;
}

.main {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 0px;
    margin-top: 0px;
}

#pdfdiv {
    padding: 0px;
    background-color: #fff;
}
.page {
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    
}
.skill {
    border-radius: 2;
    height: 25px;
    width: 25px;
    border: 0px;
    background-color: #9b96ca;
    color: #54516d;
}
.skill::after {
    border-radius: 2;
    height: 25px;
    width: 25px;
    border: 0px;
    background-color: #9b96ca;
    color: #54516d;
}

.tables {
    border: 2px;
    border-color: #9b96ca;
    border-radius: 8px;
    border-style: solid;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.guidebox {
    background-color: #c0bfdf;
}

.feat-checkbox {
    margin-top: 0px;
    height: 18px;
}

.feat {
    margin: 0px;
    padding: 0px;
    font-size: 8px;
}

.abilities-input {
    width: 50px;
    margin: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
}
